<!-- Information on the current user -->
<p><strong>Welcome, <%= current_user.name %>!</strong></p>
<p><%= link_to('Go To Site Administration', admin_path, {:class => "link"}) if current_user.is_admin? %></p>
