<!-- Site header -->
<div class="row">
	<div class="site-logo large-2 columns">
		<!-- DU image goes here -->
	</div>
	<div class="large-10 columns">
		<div class="site-title large-4 columns">
			<p class="site-title-main">Zinfandel</p>
			<p class="site-title-desc">Teaching Strategy Database</p>
		</div>
		<div class="large-8 columns clearfix">
			<% if current_user %>
				<%= link_to('Admin', admin_path) if current_user.is_admin? %>
				<%= render 'users/current_user' %>
			<% else %>
				<%= link_to "Log In", login_path %>
			<% end %>
		</div>
	</div> 
</div>
