<!-- Specific strategy page -->

<%= stylesheet_link_tag "newcss.css" %>
<p>  All Strategies  </p>
<p> --  </p>
<p> --  </p>
<table>
<tr>
<th>Title</th>
<th>body</th>
<th>Technology</th>
<th>Source</th>
</tr>
=======

<%= label_tag(:kwd, @AStrategy.keywords )  %>

<p></p>
>>>>>>> master

<%= link_to 'HomePage', :controller => 'static', :action =>'homepage' %>
