<!-- Specific strategy page -->

<table>
<tr>
<th>Title</th>
<th>Body</th>
</tr>

<% @strategies.each do |strategy| %>
<tr>
<td><%= strategy.title %></td>
<td><%= strategy.body %></td>
</tr>
<% end %>
</table>