<!-- Specific strategy page -->

<div class="content-item">
	<h1><%= @AStrategy.title %></h1>
	<p><%= @AStrategy.body %></p>
	<%= link_to 'HomePage', :controller => 'static', :action =>'homepage' %>
</div>
