<!-- Specific strategy page -->

<p>
<strong>Title:</strong>
<%= @strategy.title %>
</p>

<p>
<strong>Body:</strong>
<%= @strategy.body %>
</p>

<p>
<strong>Tech:</strong>
<%= @strategy.tech %>
</p>

<p>
<strong>Source:</strong>
<%= @strategy.source %>
</p>